
__pycache__
*.sw?
*.pyc
*.pyd
ctdt.*
*.d
*.o
*.a
*.out
/Modules/readline/readline/config.log
/Modules/readline/readline/config.status
/Packages/wpilib/*.cpp
/Packages/wpilib/*.h
/Packages/nivision/*.cpp
/Packages/nivision/*.h
/Packages/vision/*.cpp
/Packages/vision/*.h
/Packages/vision2009/*.cpp
/Packages/vision2009/*.h
/RobotPy-*

build-vm/Berksfile.lock
build-vm/.vagrant

