
/RobotPy/PPC603gnu
/Modules/*/ctdt.*
/Modules/*/*.d
/Modules/*/*.o
/Modules/*/*.out
/Modules/pyexpat/expat/*.d
/Modules/pyexpat/expat/*.o
/Modules/readline/readline/config.log
/Modules/readline/readline/config.status
/Modules/readline/readline/*.d
/Modules/readline/readline/*.o
/Modules/readline/readline/*.a
/Modules/readline/termcap/*.d
/Modules/readline/termcap/*.o
/Packages/*/ctdt.*
/Packages/*/*.d
/Packages/*/*.o
/Packages/*/*.out
/Packages/wpilib/CANJaguar/*.d
/Packages/wpilib/CANJaguar/*.o
/dist
